/* define the style */
body{
	margin:2% auto; 
}

.mainContainer {
	width: 60%;
	margin-left: 20%;
	overflow: hidden;

}

.header{
	width: 100%;
	height: 60px;
	padding:1px;
	background-color: #0b0249;
}

section.sideMenu {
	float: left;
	margin: 10px 10px 10px 10px;
	width: 200px;
	border-radius: 12px;
}
.innerHeader{
	background-color: #0b0249;
	color: white;
	height: 40px;
	text-align: center;
	padding-top: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px; 

}
#content{
	float: left;
	margin: 10px 5px 10px 10px;
	width: 550px;
	
}

footer {
	clear: both;
	width: 100%;
	height: 50px;
	background-color: #0b0249;
}
.pStyle{
	color: rgba(0, 0, 0, 0.90);
	padding-left: 15px;	
}
.resultHeader{
	background-color: #0b0249;
	height: 30px;
	padding: 1px;	
	border-top-left-radius: 6px;
	border-top-right-radius: 6px; 
}
.resultHeader p{
	padding-left: 10px;
	font: bold 1.2em/1px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: white;
}
span{
	font-weight: bold;
	color: black;
}
header p{
	font: bold 2.2em/2px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: white;
}
.resultBox{
	margin: 0px 1px 20px 10px
	
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

    -webkit-box-shadow: 0 1px 2px #777;
	-moz-box-shadow: 0 2px 1px #777;
	box-shadow: 0 2px 1px #777;
}

.button {
	display: block;
	height: 25px;
	width: 190px;
	margin: 5px 5px 5px 5px;
	background: #1887e2;;
	border: 1px solid rgba(33, 68, 72, 0.59);
	color: rgba(0, 0, 0, 0.80);
	text-align: center;
	font: bold 1.2em/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-top-left-radius:8px; 
	border-top-right-radius:8px; 
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px; 
}
 
a.button {
	text-decoration: none;
}
a:active{
	background-color: #080887;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
