form * {
	background: none;
}

.group:before{ 
	content: "\0020"; 
	display: 
	block; 
	height: 0; 
	overflow: 
	hidden; 
}

.group:after { 
	clear: both; 
}

.group { 
	zoom: 1; 
}
body {
	height: 500px;
	background: #42826C;
	background: #42826C -webkit-linear-gradient(#002F32,#42826C) no-repeat;
	/*background: #42826C -moz-linear-gradient(#002F32,#42826C) no-repeat;
	background: #42826C -o-linear-gradient(#002F32,#42826C) no-repeat;
	background: #42826C -ms-linear-gradient(#002F32,#42826C) no-repeat;
	background: #42826C linear-gradient(#002F32,#42826C) no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002F32', endColorstr='#42826C',GradientType=0 );*/
}

form {
	width: 450px;
	margin: 0 auto;
	position: relative;
	top: 50px;
	padding: 20px 30px 5px 30px;
	border: 5px solid #022E32;

	background: #F9C35F;
	background: url(checkeredpattern.png), -webkit-linear-gradient(#F9C35F, #A5C77F) no-repeat;
	/*background: url(checkeredpattern.png), -moz-linear-gradient(#F9C35F, #A5C77F) no-repeat;
	background: url(checkeredpattern.png), -o-linear-gradient(#F9C35F, #A5C77F) no-repeat;
	background: url(checkeredpattern.png), -ms-linear-gradient(#F9C35F, #A5C77F) no-repeat;
	background: url(checkeredpattern.png), linear-gradient(#F9C35F, #A5C77F) no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9C35F', endColorstr='#F9C35F',GradientType=0 );
*/
	-webkit-border-radius: 10px;
	/*-moz-border-radius: 10px;
	border-radius: 10px;*/

	-webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,1), 0px 10px 15px rgba(0,0,0,.5);
	/*-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,1), 0px 10px 15px rgba(0,0,0,.5);
	box-shadow: inset 0px 1px 1px rgba(255,255,255,1), 0px 10px 15px rgba(0,0,0,.5);
	*/
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
legend{

	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: 0 1px 0px #FFF;
}

ol li label,ol li .searchTypefield {
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 5px;
	color: #315848;
	display: block;
	width: 150px;
	float: left;
	text-align: right;
	text-shadow: 0 1px 0px #FFF;
}


select {
	background: #022E32;
	border-radius: 4px;
	width: 150px;
	height: 30px;
	color: #FFC861;
	padding: 5px;
	outline: solid transparent;
}

option {
	background: #022E32;
	color: #FFC861;
	padding: 5px;
	text-align: center;
}

ol li input[type="text"]{
	margin-top: 10px;
	margin-left:162px;
	margin-bottom: 10px;
	width: 200px;
	height: 25px;
	font:14px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #FFC861;
	-webkit-border-radius: 5px;
	outline: solid transparent;
	background:#022E32;
		
}
fieldset{
	display: block;
	margin-top: 40px;
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: 0 1px 0px #FFF;
	border-bottom: 1px solid rgb(76, 67, 65);
	width: 80%;
}